* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: cursive;
    color: whitesmoke;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: teal;
    overflow-x: hidden;
  }
  
  .sidenav a {
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: whitesmoke;
    color: teal;
  }
  
  .content {
    max-width: fit-content;
    margin-left: 200px;
    padding-left: 20px;
  }

  .header{
    font-family: cursive;
    font-size: 100px;
    letter-spacing: .48px;
    line-height: 80px;
    color: rgb(36, 36, 36);
    text-align: center;}

    .art_header{
      margin-top: 50px;
    }

    .profile-pic{
      margin-left: 20px;
      border-radius: 30px;
    }

body{
    background-color: teal;}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
 background-color: rgb(36, 36, 36);
 gap: 20px;
 padding: 20px;}

  .grid-item {
    border: 1px double whitesmoke;
    background-color: rgb(4, 28, 28);
padding: 10px;
} 

.grid-container_1{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: rgb(36, 36, 36);
 gap: 20px;
 padding: 20px;
 
 }

@media (max-width: 760px) {
  .grid-container_1 {
    flex-direction: column;
    justify-content: space-evenly;    
  }
}

.grid-item_1 {
  position: relative;
   background-color: rgb(36,36,36);
   justify-content: space-evenly;
  gap: 3px;
  border: 2px whitesmoke;
    }

.img{
    border: 1px whitesmoke;
    width: 100%;
}

.typeset-1 {
    font-family: cordana;
    font-size: 54px;
    letter-spacing: .48px;
    line-height: 60px;
    color: rgb(36, 36, 36);}

.typeset-2 {
    font-family: cordana;
    font-size: 15px;
    letter-spacing: .10px;
    line-height: 20px;
    color: whitesmoke;}

.typeset-3 {
    font-family: cordana;
    font-size: 15px;
    letter-spacing: .10px;
    line-height: 20px;
    color: whitesmoke;
text-align: left;}

.typeset-4 {
    font-family: cordana;
    font-size: 36px;
    letter-spacing: .10px;
    line-height: 20px;
    color: whitesmoke;
text-align: left;}

.typeset-5 {
  font-family: cordana;
  font-size: 36px;
  letter-spacing: .10px;
  line-height: 50px;
  color: whitesmoke;
text-align: center;
}

.list-item-1 {
    font-family: cordana;
    font-size: 15px;
    letter-spacing: .10px;
    line-height: 20px;
    color: whitesmoke;
text-align: left;}



p::first-letter {
    font-size: 200%;
    color: whitesmoke;}

li:hover{
    background: teal;
    color: black;}

    @media only screen and (max-width: 640px) {
       .grid-container {
          background-color: teal;
        }
      }

      * {
        box-sizing: border-box;
      }
      
      .slide_container {
        position: relative;
      }
        
      .mySlides {
        display: none;
      }

      .mySlides img {
        height: 100vh;
        object-fit: contain;
      }
      
      .cursor {
        cursor: pointer;
      }
      
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: whitesmoke;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      .caption-container {
      margin-top: 200px;
        height: 100px;
        border-radius: 25px;
        border-style:groove;
        border-color: whitesmoke; 
        text-align: center;
        background-color: rgb(4, 28, 28);
        padding: 2px 16px;
        color: white;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .flex {
        display:flex;
        align-items: center;
      }

      .row {
        background-color: whitesmoke;
      }
      
      .demo {
        opacity: 0.6;
        max-height: ;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }  